# IDE specific
.idea/
.vscode/

# Jupyter
.ipynb_checkpoints/

# Node
node_modules/

# Hugo
.hugo_build.lock
go.sum
resources/
public/
assets/jsconfig.json
jsconfig.json

# Mac
.DS_Store

# Test
test/go.sum
